#food-wrap {
    width: 100%;
    height: auto;
    background-color: rgba($color: #4cd2f7, $alpha: 0.5);
    border: solid 14px #f7714c;
    display: flex;
    justify-content: center;
    align-items: center;
    }