.wrapper-venue {
    width: 100%;
    height: auto;
    background-color: #ffe4c4;
    display: flex;
    // flex-direction: row-reverse;
    flex-direction: row;
    border: solid 14px #141B56; 
    iframe {
        padding: 15px;
    }


   p {
    margin: 40px;
    width: 600px;
    font-family: "quara-web", sans-serif;
    font-size: 26px;
   }
}
@media screen and (max-width: 800px) {
    .wrapper-venue {
        flex-direction: column;
        iframe {
            width: 100%;
            height: 300px;
        }
        p {
            width: 80%;
            font-size: 20px;
        }
    }
}